/*@import "reset.css";

/*************************************************/
/*
/*
/*					Général
/*
/*
/**************************************************/
h1, h2, h3, h4, h5, h6,
span, input, p, a, button, label, select,
figcaption, textarea, ul, li {
	font-family: Raleway, Calibry;
}

h1, h2, h3, h4, h5, h6, select, a, button {
	text-transform: uppercase;
	text-align: center;
}

a {
	text-decoration: none;
	cursor: pointer;
	padding: 10px 30px;
	border: 0;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

input {
	outline: none;
}

input[type=submit], button {
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	padding: 10px 30px;
	border: 0;
	color: white;
}

.clearfix {
	clear: both;
}

button {	
	padding: 10px 30px;
	border: 0;
	color: white;
}

.lienPost {
	transition: background-color .3s;
}

.lienPost:hover {
	background-color: rgb(46, 204, 113);
}

.boutonAccueil {
	clear: both;
	margin-top: 20px;
	background-color: rgb(243, 156, 18);
	display: block;
	text-align: center;
}